.background {
  background-image: url(../../../images/1619798003135.jfif);
  /* background-color: rgb(165, 163, 163); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  width: 100%;
  margin-top: 50px;
}
